html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000;
}

.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.app-title {
  color: #b7babe;
  font-family: Poppins;
  font-size: 22px;
  font-weight: bolder;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.search-bar {
  height: 40px;
  width: 85%;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  padding: 7px 8px;
  background-color: #1e1f25;
  color: #FFFFFF;
}

.search-bar:focus {
  outline: none !important;
  box-shadow: 0 0 10px #e5e7eb;
}

.list {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 0px;
  background: #262833;
  padding: 15px;
}

.companies-list {
  width: 85%;
  border-radius: 5px;
  background: #1e1f25;
  padding: 20px;
  overflow: scroll;
}

.list-item {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #b7babe;
}

.graph {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.graph-wrapper {
  display: block;
  justify-content: center;
  background-color: #1e1f25;
  border-radius: 10px;
}

.selected-stock {
  font-family: Poppins;
  font-size: 22px;
  font-weight: bolder;
  line-height: 33px;
  letter-spacing: 0em;
  color: #b7babe;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.calender-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.calender-icon {
  color: #e5e7eb;
  font-weight: bold;
}

.date-btn {
  padding: 10px;
  width: 280px;
  border-radius: 10px;
  background: #1e1f25;
  outline: none !important;
  border: none;
  color: #FFFFFF;
  font-family: Poppins;
  font-size: 12px;
  font-weight: lighter;
  line-height: 27px;
  letter-spacing: 0em;
}

.closing-price-wrapper {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 10px;
}

.prices-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.percentagechange {
  font-weight: lighter;
  color: green;
  font-size: medium;
}

.price-change-wrapper {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.percentagechange::before {
  content: "+";
}

.negative-price-change {
  font-weight: lighter;
  color: red;
  font-size: medium;
}

.negative-price-change::before {
  content: "";
}

.price {
  font-size: 22px;
  font-weight: bolder;
  line-height: 33px;
  letter-spacing: 0em;
  color: #e5e7eb;
}

.closing-price-btn {
  padding: 10px;
  width: 182px;
  border-radius: 5px;
  background: #e5e7eb;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  outline: none !important;
  border: none;
  margin-left: 20px;
}

.close-price-display {
  height: 92px;
  width: 182px;
  left: 20px;
  top: 40px;
  border-radius: 5px;
  position: absolute;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.price-txt {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

#asset-item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

#asset-item:hover {
  background-color: #272830;
}

#asset-item img {
  height: 30px;
  width: 30px;
  border-radius: 50%; 
}

#asset-item:hover h1 {
  color: #FFFFFF;
}

#pricechanges {
  cursor: pointer;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.no-result {
  color: #e5e7eb;
}
